@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #4066c8 1.84%, #e6e3da 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #363062 -13.86%, #8ca1c5 99.55%);
  
  --color-bg: #0b070d;
  --color-footer : hsla(218, 89%, 18%, 0.33);
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
